<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CP-Fitness.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6156EB521FA1F95D00661303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6156EB6A1FA1F95E00661303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6156EB751FA1F95E00661303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
